p{
  color:grey;
font-family: 'Noto Serif', serif;
}

h1{
font-family: 'Lobster', cursive;
}

body{
  background-color: #f4f4f4;
}

#header{
  width:100%;
}

#container{
  background-color:#ffffff;
  width:80%;
  margin:0 auto;
  padding:20px 30px;
}

img{
  width:50%;
  border:0;
  margin-bottom: 20px;<link rel="stylesheet" type="text/css" href="flexbox.css"/>
}

.container{
  padding:0;
}

.item {
  list-style: none;
  text-align: center;
  width: 95%;
  padding:5px;
  background-color: #c0b283;
  margin:5px auto;

}

#nav {
  padding:0px;
}

.item a:link, .item a:visited{
  color:#ffffff;
  font-weight: bold;
  text-decoration:none;
  font-family: 'Varela Round', sans-serif;
  padding:4px;
}


.item:hover, .item:active{
  background-color: #c0b3a0;
}

.caption{
  color:black;
  font-family:'Open Sans', sans-serif;
  font-size:0.8em;
  font-weight:bold;
  margin-top:0;
  text-align:center;
}

#footer{
  color:black;
  font-family: 'Nanum Myeongjo', serif;
  font-size:0.8em;
  border-top:1px solid black;
  text-align: center;
}

#center{
text-align: center;
}

#nav{
  padding:0;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Noto Serif', serif;
}
.cards img{
  width: 100%;
}

.cards p{
  font-size: 0.7em;
}
